:root {
    --card-color: white;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(39, 39, 39);
}

html {
    font-size: 62.5%;
}

main {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    grid-gap: 5px;

    section {
        height: calc(100vh - 20px);
        background-color: rgb(75, 75, 75);
        padding: 0 20px;
        border-radius: 5px;

        h1 {
            font-size: 3rem;
            color: white;
        }
    }

    .cards {
        height: auto;
        padding: 0;
        overflow: scroll;
        height: calc(100vh - 130px);
    }

    .card {
        margin-bottom: 10px;
        position: relative;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        border-bottom: 5px solid white;


        h2 {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 300;
            width: 80%;
            cursor: pointer;
        }

        .delete-this {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: transparent;
            appearance: none;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0;

            span {
                font-size: 15px;
            }
        }

        .card-nav {
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;

            span {
                cursor: pointer;
            }

            .visible {
                opacity: 1;
                cursor: pointer;
            }

            .hidden {
                opacity: 0;
                cursor: default;
            }
        }
    }
}

// #todo {}

// #progress {}

// #done {}

#add {
    background-color: transparent;
}

form {
    margin-top: 30px;

    fieldset {
        border: none;

        legend {
            font-size: 3rem;
            font-weight: bold;
            padding: 0;
            margin-bottom: 10px;
            color: white;
        }

        label,
        input {
            display: block;
        }

        label {
            margin-bottom: 3px;
            margin-left: 0;
            color: grey;
            font-size: 1.2rem;
        }


        input,
        textarea,
        select {
            margin-bottom: 20px;
            width: 100%;
            height: 40px;
            padding-left: 10px;
            border: none;
            font-size: 1.4rem;
            background-color: rgb(75, 75, 75);
            color: white;
            border-radius: 5px;
            display: block;
        }


        #inp-estimate {
            width: 50px;
        }

        #inp-deadline,
        #inp-priority,
        #inp-creator,
        #inp-color {
            width: 150px;
        }

        textarea {
            padding-top: 10px;
            height: 80px;
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        .add-new,
        .clear-form {
            appearance: none;
            width: 45%;
            height: 40px;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: green;
            color: white;
            border-radius: 5px;
        }

        .clear-form {
            background-color: transparent;
            border: 1px solid gray;
            color: gray;
            margin-left: 4%;
        }

        #custom-color {
            width: 30%;
            padding: 0;
            display: none;
        }

        .error {
            color: red;
            margin-top: -15px;
            margin-bottom: 20px;
            z-index: 10;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            display: none;
        }

        .add-new:disabled {
            background-color: rgb(75, 75, 75);
            color: rgb(184, 184, 184);
            cursor: default;
        }

        input:not([type="date"]):valid:not(:focus),
        textarea:valid:not(:focus) {
            border: 1px solid green;
        }

        input:not([type="date"]):invalid:not(:placeholder-shown):not(:focus),
        textarea:invalid:not(:placeholder-shown):not(:focus) {
            border: 1px solid red;
        }

        input:invalid:not(:placeholder-shown):not(:focus)+.error,
        textarea:invalid:not(:placeholder-shown):not(:focus)+.error {
            display: block;
        }

        select:valid:not(:focus)+.error {
            display: none;
        }

        input:focus,
        textarea:focus,
        select:focus {
            border: 1px solid grey;
        }

        .default {
            border: none;
        }
    }

    .placeholder {
        color: #747474;

    }

    .valid {
        border: 1px solid green;
    }

    .invalid {
        border: 1px solid red;
    }
}


.popup {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;

    .popup_content {
        width: 50%;
        min-height: 50%;
        background-color: white;
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .popup-delete,
        .popup-close {
            position: absolute;
            bottom: 133px;
            right: 30px;
            background-color: transparent;
            border: 1px solid black;
            color: black;
            height: 40px;
            width: 100px;
            cursor: pointer;
            outline: none;
            border-radius: 5px;
        }

        .popup-close {
            width: 35px;
            padding: 0;
            margin: 0;
            height: 35px;
            border: none;
            top: 30px;
        }

        p {
            font-size: 2rem;
            margin: 0;
        }

        .top {
            width: 100%;
            height: 70%;
            background-color: white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 30px;
            position: relative;

            h2 {
                margin-top: 0;
                font-size: 4rem;
                margin-bottom: 10px;
            }

            p+p {
                margin-top: 20px;
                font-size: 1.6rem;
                font-style: italic;
            }
        }

        .bottom {
            width: 100%;
            height: 30%;
            background-color: var(--card-color);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 30px;
            display: flex;
            justify-content: space-around;
            text-align: center;

            p {
                font-size: 1rem;
                margin-bottom: 10px;
            }

            p+p {
                font-size: 1.8rem;
                margin-bottom: 0;

                span {
                    font-size: 1.8rem;
                    margin-right: 5px;
                    transform: translateY(2px);
                }

                span+span {
                    margin-right: 0;
                    transform: translateY(0);
                }
            }
        }
    }

}

.open_popup {
    opacity: 1;
    pointer-events: all;
}